{% extends 'base.html' %}

{% block content %}
<div class='d-flex justify-content-center' style='padding-top: 10vh'>


  <div class="card" style="width: 18rem;">
    <div class="card-body text-center">
      <h5 class="card-title">Informacion Personal</h5>
      <p class="card-text">Isaias Pinto</p>
      <p class="card-text">29.671.221</p>
      <p class="card-text">Seccion 98</p>

      <a href="https://github.com/algerninja" class="card-link">
        <i class="fa-brands fa-github"></i>
        @algerninja
      </a>

    </div>
  </div>

</div>

{% endblock content %}